[submodule "modules/shdoc"]
	path = modules/shdoc
	url = https://github.com/reconquest/shdoc.git
[submodule "modules/bats-core"]
	path = modules/bats-core
	url = https://github.com/bats-core/bats-core.git
